* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    background-color: gray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images2/wood.jpg);
    background-size: cover;
}

#app {
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 100px 100px auto 200px; 
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
}

.toolbarcontainer{
    display: grid;
    grid-template-columns: 100px 100px; 
}

.toolbar {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.toolbar#colors {
    position: relative;
    display: grid;
    grid-template-rows: 50px 50%;
}

.toolbar img{
    width: 90px;
    height: 90px;
    border: 3px solid #ffffff;
    border-radius: 15%;
    box-shadow:0 2px 6px rgba( 0,0,0,0.25 );
    background-color: white;
}

.toolbar#colors img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.toolbar img.active {
    border-color: #00ccff;
}

.toolbar img.placeholder{
    opacity: 0;
    touch-action: none;
    pointer-events: none;
}

.toolbar img:hover {
    transform: scale(1.1);
}

.toolbar img.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.menu-open #colors img, #colors img {
    position: absolute;
    bottom: 15%;
    right: 28%;
    transition: 0.25s;
}


#colors img.colorImg.active{
    z-index: 2;
    content:url(images2/palette.png);
}
.menu-open #colors img.active{
    content: normal;
}

.toolbar#colors {
    position: relative;
    display: grid;
    grid-template-rows: 50px 50%;
}

/*templates*/
#colors img.template{
    width:80px;
    height:80px;
    border-radius: 0;
}
#colors img.template#template1{
    left: 0;
    top:0;
    margin: 5px;
    background-color: white;
}
#colors img.template#template2{
    right: 0;
    top:0;
    margin: 5px;
}
#colors img.template#template3{
    left: 0;
    top:85px;
    margin: 5px;
}
#colors img.template#template4{
    right: 0;
    top:85px;
    margin: 5px;
}
#colors img.template#template5{
    left: 0;
    top:170px;
    margin: 5px;
}

/*
color logic
*/
#colors img#violetCol {
    background-color: #46113f;
}
#colors img#violetblueCol {
    background-color: #47395a;
}
#colors img#blueCol {
    background-color: #3a3b71;
}
#colors img#lightblueCol {
    background-color: #253b74;
}
#colors img#greenlightblueCol {
    background-color: #225a75;
}
#colors img#greenCol {
    background-color: #4b7e75;
}
#colors img#greenyellowCol {
    background-color: #a7a471;
}
#colors img#yellowCol {
    background-color: #b59349;
}
#colors img#yelloworangeCol {
    background-color: #bf7341;
}
#colors img#orangeCol {
    background-color: #ba4428;
}
#colors img#orangeredCol {
    background-color: #ad3a35;
}
#colors img#redCol {
    background-color: #962b3d;
}
/*
menuopen color logic
*/
.menu-open #colors img#violetCol {
    background-color: #46113f;
    bottom:32%;
    right:-25%;
}
.menu-open #colors img#violetblueCol {
    background-color: #47395a;
    bottom:21%;
    right:-45%;
}
.menu-open #colors img#blueCol {
    background-color: #3a3b71;
    bottom: 8%;
    right:-45%;
}
.menu-open #colors img#lightblueCol {
    background-color: #253b74;
    bottom: -3%;
    right:-25%;
}
.menu-open #colors img#greenlightblueCol {
    background-color: #225a75;
    bottom: -11%;
    right:5%;
}
.menu-open #colors img#greenCol {
    background-color: #4b7e75;
    bottom: -11%;
    left:18%;
}
.menu-open #colors img#greenyellowCol {
    background-color: #a7a471;
    bottom: -3%;
    left:-13%;
}
.menu-open #colors img#yellowCol {
    background-color: #b59349;
    bottom: 8%;
    left:-35%;
}
.menu-open #colors img#yelloworangeCol {
    background-color: #bf7341;
    bottom:21%;
    left:-35%;
}
.menu-open #colors img#orangeCol {
    background-color: #ba4428;
    bottom:32%;
    left:-13%;
}
.menu-open #colors img#orangeredCol {
    background-color: #ad3a35;
    bottom:40%;
    left:18%;
}
.menu-open #colors img#redCol {
    background-color: #962b3d;
    bottom: 40%;
    right:5%;
}


#canvas {
    background-color: white;
    background-image: url(images/paper.jpg);
    background-size: cover;
    touch-action: none;
    width: 100%;
    height: 100%;
}